[submodule "OctoKit"]
	path = OctoKit
	url = git://github.com/Arcterus/octokit.objc
[submodule "SVProgressHUD"]
	path = SVProgressHUD
	url = git://github.com/samvermette/SVProgressHUD.git
[submodule "Bypass"]
	path = Bypass
	url = git://github.com/Arcterus/bypass.git
